<div class="wrap" >
  <form  class="form-wrap">
    <h3>Registration</h3>
    <div class="first-form">

      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput  [(ngModel)]="user.firstname" name="firstname" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>LastName</mat-label>
        <input matInput  [(ngModel)]="user.lastname" name="lastname" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput  [(ngModel)]="user.email"  name="email" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput  [(ngModel)]="user.password" name="password" type="password" />
      </mat-form-field>

    
      
    </div>
    <button class="button1" type="submit" color="primary" (click)="onSubmit()">
      Register
    </button>
    
  </form>
 

  
</div>

