
<h3 class="title">Telecom</h3>

  

<h3 class="services-title"> Services</h3>
<div class="grid-container">
  <div class="card" *ngFor="let item of services">
    <h3> {{ item.name }}</h3>
    <p> {{ item.description }}</p>
    <p> {{ item.type }}</p>

    <button class="donate-button" *ngIf="selectedServiceId !== item.id" (click)="selectService(item.id)">Subscribe</button>

    <div *ngIf="selectedServiceId === item.id">
      <label>Duration (in years):</label>
      <input type="number" [(ngModel)]="durationInYears" min="1" />
      <button (click)="subscribeToService(item)">Confirm</button>
    </div>
  </div>
</div>


  <h3 class="services-title"> Packages</h3>
  <div class="grid-container-packages">
    <div class="package-card" *ngFor="let item of packages">
     
      <b><p> {{ item.name}}</p></b>
      <p> {{ item.price }}</p>
        
      <div class="services-container">
        <div class="service-card" *ngFor="let service of item.services">
          <p><strong>{{ service.name }}</strong></p>
          <p>{{ service.description }}</p>
          <p>{{ service.type }}</p>
        </div>
      </div>
  
      <button class="donate-button" (click)="buyPackage(item.id)">Buy</button>
      
    </div>
  </div>
  