<div class="wrap" >
    <form [formGroup]="userForm" class="form-wrap">
      <div class="first-form">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
      </div>
      <button class="button1" type="submit" color="primary" (click)="login()">
        Log in
      </button>
      <div class="register-option" >
        <p>Not registered? <a href="/register">Register</a></p>
      </div>
    </form>
   
  
    
  </div>
  
 