
<h3 class="title">Telecom</h3>

  

<h3 class="services-title"> Services</h3>
<div class="grid-container">
  <div class="card" *ngFor="let item of services">
    <h3> {{ item.name }}</h3>
    <p> {{ item.description }}</p>
    <p> {{ item.type }}</p>

    <button class="donate-button" *ngIf="selectedServiceId !== item.id" (click)="selectService(item.id)">Subscribe</button>

    <div *ngIf="selectedServiceId === item.id">
      <label>Duration (in years):</label>
      <input type="number" [(ngModel)]="durationInYears" min="1" />
      <button (click)="subscribeToService(item)">Confirm</button>
    </div>
  </div>
</div>


  <h3 class="services-title"> Packages</h3>
  <div class="grid-container">
    <div class="card" *ngFor="let item of packages">
      <h3> {{ item.price }}</h3>
        
      <div class="services-container">
        <div class="service-card" *ngFor="let service of item.services">
          <p><strong>{{ service.name }}</strong></p>
          <p>{{ service.description }}</p>
          <p>{{ service.type }}</p>
        </div>
      </div>
  
      <button class="donate-button" (click)="togglePaymentOptions(item.id)">Buy</button>

      <div *ngIf="selectedPackageId === item.id" class="payment-options">
        <label for="payment-method">Choose payment method:</label>
        <select id="payment-method" [(ngModel)]="selectedPaymentMethod">
          <option value="CreditCard">Credit Card</option>
          <option value="PayPal">PayPal</option>
          <option value="Crypto">Crypto</option>
        </select>
        <button (click)="confirmPayment(item.id,item.price, selectedPaymentMethod)">Confirm</button>
      </div>
    </div>
  </div>
  