
.nbutton {
  margin: 0;
  height: 100%;
  font-size: 22px;
  font-family: Georgia, serif;
  font-weight: medium;
  border: none;
  border-radius: 4px;
  background-color: rgb(212, 243, 232);
  cursor: pointer;
  text-align: center;
}

.log-out {
  width: 90%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.nbuttonEnd {
  padding-right: 10px;
  height: 100%;
  font-size: 22px;
  font-family: Georgia, serif;
  font-weight: medium;
  border: none;
  border-radius: 4px;
  background-color: rgb(212, 243, 232);
  cursor: pointer;
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  height: 9%;
  padding-right: 10px;
  background-color: #3976b4;
  border-bottom: 0.5px solid black;
}

.inner-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between title and buttons */
}

h6 {
  margin: 0;
  font-size: 1.2em; /* Adjust font size as needed */
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis if text is too long */
  flex: 1; /* Allow the title to take available space */
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
